
.course-card {
  margin: 20px 10px;
}

/* .course-card:hover .course-actions {
  visibility: initial;
}
*/
.course-actions {
  /* visibility: hidden; */
  text-align: center;
}

.course-actions button {
  margin-right: 10px;
}

