
body {
  margin: 0;
}

main {
  margin: 30px;
}

.menu-button {
  background: transparent;
  color: white;
  border: none;
  cursor:pointer;
  outline:none;
}

.spinner-container {
  width: 100%;
  margin-top: 100px;
}

.content {
  margin-top: 60px;
}

mat-toolbar {
  position: fixed;
  z-index: 20;
}

.avatar-container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: flex-end;

}

.avatar {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
