

.title {
    text-align: center;
    margin-right: 15px;

}

.courses-panel {
    max-width: 350px;
    margin: 0 auto;
}


.counters {
    display: flex;
}

.filler {
    flex: 1 1 auto;
}

h2 {
  font-family: "Roboto";
}

.course-create-action {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}

.spinner-container {
  margin-top: 100px;
}
